<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
     <script src="filter.js"></script>
  </head>
  <body >
      <div ng-controller="myController">
          <div style="display:inline-block; margin-right:20px;">
            <h3>Number without custome filtert</h3>
            <div ng-repeat="number in numbers">
                <ul>
                  <li>{{ number }}</li>
                </ul>
              </div>
          </div>


        <div style="display:inline-block">
          <h3>Number with custome filtert</h3>
          <div ng-repeat="number in numbers">
              <ul>
                <li>{{ number | ordinal }}</li>
              </ul>
            </div>
        </div>


      </div>

  </body>
</html>
